<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add hall</title>
</head>
<body>
    <form action="" method="POST">
    <label>Hall name <input type="text" value="" placeholder="Hall name" name="hall_name"></label>
    <label>Hall capacity <input type="text" value="" placeholder="Hall capacity" name="hall_capacity"></label>
    <label>Projector <input type="checkbox" value="True"  name="projector">  </label>
    <input type="submit" value="Send">
         {% csrf_token %}
    </form>

    <br><br><br><br><br>
    <p><a href="../main">Main site</a></p>
    <p><a href="../room/list-all">Hall list</a></p>


</body>
</html>