<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>

</head>
<body>
    <form action="" method="GET">



        <p><a href="../main">main site</a></p>
        <p><a href="../room/list-all">list all hall</a></p>
        <p><a href="../room/new">add new hall</a></p>
        <p><a href="../room/modify/{{hall_details_list.id}}">Hall edit</a></p>
        <p><a href="../room/delete/{{hall_details_list.id}}">Delete hall</a></p>
        <p><a href="../room/reserve/{{hall_details_list.id}}">Booking hall</a></p>


        <label>Hall name: {{hall_details_list.hall_name}}</label> <br>
        <label>Hall capacity: {{hall_details_list.hall_capacity}}</label> <br>
        <label>Has projector: {{hall_details_list.projector}}</label> <br>
        <strong><p>Booking list:</p></strong>
        <table>
            <tr>
                <th>Booking date</th>
                <th>Comment</th>
            </tr>
            {% for hall in hall_booking %}
            <tr>
                <td>{{hall.booked_date}}</td>
                <td>{{hall.comment}}</td>
            </tr>


            {% endfor %}
        </table>



    </form>
</body>
</html>